.btn{
    margin: 20px auto;
    display: block;
}

#date,
#tooltip{
    width: 300px;
}

label{
    font-weight: bold;
}

#detail-list{
    width: 75%;
    text-align: left;
    margin: 50px auto;
}
